.inputOption {
    display: flex;
    margin-top: 15px;
    align-items: center;
    padding: 10px;
    color: gray;
    cursor: pointer;
    transition: 0.2s ease;
}

.inputOption:hover {
    color: #000;
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption>h4 {
    margin-left: 5px;
    font-size: 13px;
}